@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/22375933.jpg");
  background-size: cover;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 450px;
  margin: 50px auto;
  background: linear-gradient(rgba(255, 217, 247, .3)  ,#dab0ff 6% , #022e52 ) ;
  padding: 20px;
  border-radius: 10px;
  
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.calculadora {
  width: 400px;
  margin: 0 auto;
}
.display {
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  height: 50px;
  text-align: right;
  background-color: #fbfaf7;
  color: #000;
  border-radius: 5px;
  border: 1px;
}

.btn {
  width: 100%;  
  height: 50px;
  background-color: #ffffff;
  color: #022641;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  border-radius: 3px;

}
.btn:hover {
  background-color: rgb(169, 199, 243);
}
h1 {
  color: var(--primary-color-darker);
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 10px;
  margin-top: 20px;
}